<div class="bkg-admin col1" >
</br></br></br></br><p>Hey {{dog}}, this is the partial for admin.html </p>

<div class="input-group panel panel-default">
<div class='panel-body'>

<form name='AdminForm'>
  <button type="button" ng-click="reset()">reset</button>
  <button type="button" ng-click="clear()">clear</button>
  <div class='form-group'>
    <label>localStorage -s2g_users</label>{{isUser}}  
    <input type="text" class="form-control" ng-model='username' name='nameInp'>
  </div>
  <div class="input-group-btn">
  <button id= "btn_admin_find" class="btn btn-primary" ng-click="find()">find</button>
  <button id="btn_admin_del" class="btn btn-primary" ng-click="del()">del</button>
  <button id="btn_admin_listall" class="btn btn-primary" ng-click="listAll()">list all</button>
  </div>
  <div class="output">{{username}}:<pre>{{output}}</pre> </div>
</form> 
<form name='AdminForm2'>
  <div class='form-group'>
    <label>localStorage -s2g_tokens</label>{{isUserT}}  
    <input type="text" class="form-control" ng-model='usernameT' name='nameInpT'>
  </div>
  <div class="input-group-btn">
  <button id= "btn_admin_findT" class="btn btn-primary" ng-click="findT()">find</button>
  <button id="btn_admin_delT" class="btn btn-primary" ng-click="delT()">del</button>
  <button id="btn_admin_listallT" class="btn btn-primary" ng-click="listAllT()">list all</button>
  </div>
  <div class="output">{{usernameT}}: {{outputT}}</div>
</form> 
<form name='AdminForm3'>
  <div class='form-group'>
    <label>localStorage -s2g_clists</label>{{isUserT}}  
    <input type="text" class="form-control" ng-model='userL' name='nameInpL'>
  </div>
  <div class="input-group-btn">
  <button id= "btn_admin_findL" class="btn btn-primary" ng-click="findL()">find</button>
  <button id="btn_admin_delL" class="btn btn-primary" ng-click="delL()">del</button>
  <button id="btn_admin_listallL" class="btn btn-primary" ng-click="listAllL()">list all</button>
  </div>
  <div class="output">{{userL}}:<pre>{{outputL}}</pre> </div>    

</form> 

<form name='AdminForm4'>
  <div class='form-group'>
    <label>localStorage -s2g_stores</label>{{isUserT}}  
    <input type="text" class="form-control" ng-model='store' name='store'>
  </div>
  <div class="input-group-btn">
  <button id= "btn_admin_findL" class="btn btn-primary" ng-click="findS()">find</button>
  <button id="btn_admin_delL" class="btn btn-primary" ng-click="delS()">del</button>
  <button id="btn_admin_listallL" class="btn btn-primary" ng-click="listAllS()">list all</button>
  </div>
  <div class="output">{{store}}: {{outputS}}</div>    

</form>
</div>
</div>
</div>