<div class="bkg-list col1" >
	<div>
		<div class="top-spc" >
			<h4>This is application for shared lists</h4>
		</div>
		<p class="pad">You can try it out as a demo</p>
		<div class="center">
		<button type="button" class="btn btn-lg bkg-lists" ng-click="loadData()">run as Demo</button>
		</div>
			<p class="pad">Or better yet, register so you can have your own lists shared with whomever. Registering is simple. Just choose a name for yourself and enter an email address so we can send you an apikey. Once you enter your key you are all set for that device.</p>
		<div class="center">
		<button type="button" class="btn btn-lg bkg-lists" ng-click="register()">Register </button>			
		</div>
	</div>
</div>

