
<div class="bkg-list col1" ng-click="update()">
	<div>
		{{list.lid}} {{list.shops}} {{list.stores}}
		<span class="btn-group btn-group-xs list-btn">
			<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled" ng-click="sort()">
				{{sortBy}}<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
			<li ng-repeat="store in list.stores  track by $index" ng-click="orderByStore(store)"><a >{{store.name}}</a></li>
			</ul>	
		</span>
			<ul>
			<li ng-repeat="store in list.stores  track by $index" ng-click="orderByStore(store)"><a >{{store.name}}</a></li>
			</ul>
		<div class="top-spc" >    
			<ul class="list group" >
				<li ng-repeat="item in notdone = (list.items | filter:{done:false}) track by $index" class="list-group-item need" ng-class="{editing: item==editedItem}" ng-click="onFocus()">
					<div class="view" >
						<input type="checkbox" ng-model="item.done" ng-change="ckDone(item)" >
						<span class="done-{{item.done}} product" ng-click="editItem(item)" >{{item.product}}</span> 
						<span ng-show="item.amt.qty > 0" >
							<span class="amt" >{{item.amt.qty}}  </span>
							<span class="amt" >{{item.amt.unit}}</span>
						</span>         
						<span ng-show="showLoc" class="loc" >{{item.loc}}</span>          
						<span ng-show="showTags" class="tags" ng-repeat="tag in item.tags">{{tag}} </span>      
						<i ng-click="remove(item)" class="delx glyphicon glyphicon-remove " ></i>       
					</div>
					<div class="edit">
						<form ng-submit="doneEditing(buffer)" accept-charset="utf-8" ng-blur="revertEdit(buffer)">
							<input ng-trim="true" ng-model="buffer.product" item-escape="revertEdit(buffer)" 
							size="18" ng-blur="doneEditing(buffer)" placeholder="product" >
							<input ng-trim="true" ng-model="buffer.amt.qty" item-escape="revertEdit(buffer)" size="2" placeholder="qty" >
							<input ng-trim="true" ng-model="buffer.amt.unit" item-escape="revertEdit(buffer)" size="4" placeholder="unit" >
							<span>
								<select ng-model="buffer.loc" ng-options="name as name for name in stores.st.default.aisles" ng-click=""></select></span>
							</span>					
							<input ng-trim="true" ng-model="buffer.tags" ng-list item-escape="revertEdit(buffer)" size="15" placeholder="tags" >
							<input class="submit" type="submit" id="submit2" value="Upd" />
						</form>
					</div>								
				</li>
			</ul> 
		</br>
		<form class="list-add" ng-submit="rubmit()">
			<input class="add-item" ng-model="query" placeholder='search old lists'>  
			<input class="submit" type="submit" id="submit2" value="Add" />
		</form>    
		<ul class="list group" >
			<li ng-repeat="got in done = (list.items | filter:{done:true}) track by $index" class="list-group-item need">
				<input class="ck-box" type="checkbox" ng-model="got.done"ng-change="ckDone(got)">
				<span class="done-{{got.done}} product">{{got.product}}</span>
				<i ng-click="remove(got)" class="pull-right glyphicon glyphicon-remove " ></i>  
				<!-- <i class="glyphicon glyphicon-chevron-down" ></i>   -->
			</li>
		</ul>     		
	</div> 
</div>