li.need .edit {
  display:none;
}
li.lists .edit{
  display:none;
}
li.editing {
  background-color: white
} 
li.editing .view{
  display:none;
}
li.editing .edit {
  color:blue;
  display:inline-block;
}